
.centered{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:-10%

} 

.image{
  width: 100%;
  height: 50px;
}

@media only screen and (min-width: 992px) {
  .centered {padding-left: 600px;
  padding-right: 600px;
  margin-top:-2%};
}